body, html {
  margin-left: 10%;
  margin-right: 10%;
}

body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, a {
  text-align: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.logo {
  height: 400px;
  margin: auto;
  display: block;
}
